<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo %></h1>
    <p>Welcome to <%= titulo %></p>

    <% if (locals.err) { %>
      
      <p> <%= err %>  </p>
    <% } %> 
    
    <% if (locals.anuncios) { %>

      <p> Hemos encontrado: <%= anuncios.length %> anuncios. </p>
      
      <% anuncios.forEach( anuncio => { %>
        <p><%= anuncio.nombre %></p>
      <%}); %>
       
    <% } %> 
    
  </body>
</html>
